.alert {
    position: fixed;
    width: 100%;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.fade-in{
    animation-name: fadeIn;
    animation-duration: 2s;
}

.fade-out{
    animation-name: fadeOut;
    animation-duration: 2s;
}

.alert-text {
    padding: 10px 20px;
    border-radius: 5px;
    /* color: white; */
}

.alert-error {
    background-color: red;
}

.alert-success {
    background-color: rgba(40, 138, 40, 0.756);
}

@keyframes fadeIn {
    /* from {
        transform: translateY(100%);
    } */

    0% {
        opacity: 0;
    }

    50% {
        opacity: .50;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }

    50% {
        opacity: .50;
    }

    100% {
        opacity: 0;
    }
}

